<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="../../../assets/logo.jpeg" height="28" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="/home" class="nav-item nav-link active">HOME</a>
                <a class="nav-item nav-link ">STUDENTS</a>
                <a class="nav-item nav-link ">PROFILE</a>
                <a class="nav-item nav-link ">DOUCUMENTATION</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link ">SETTING</a>
                <a class="nav-item nav-link" (click)=logout()>LOGOUT</a>
            </div>
        </div>
    </nav>
</div>