<app-navbar></app-navbar>
<!-- table data list  -->

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4 pt-2">
            <!-- studentes List  -->
            <h1>Studentes List</h1>

        </div>
        <div class="col-sm-4">
            <div class="row justify-content-end">
                <div class="col-sm-12">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            CREAT NEW STUDENT
          </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">STUDENT DETAILS</h3>
                                </div>
                                <!-- student details form  -->
                                <div class="modal-body">
                                    <form [formGroup]="studentdetails" (ngSubmit)=CreatNewStudent(studentdetails.value)>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- student name  -->
                                                <div class="form-group">
                                                    <label>studentname:</label>
                                                    <input type="text" class="form-control" formControlName="studentname" placeholder="name">
                                                    <div *ngIf="studentdetails.controls.studentname.errors">
                                                        <span *ngIf="studentdetails.controls.studentname.invalid && studentdetails.controls.studentname.touched ">please Enter studentname</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- father Name  -->
                                                <div class="form-group">
                                                    <label>Fathername:</label>
                                                    <input type="text" class="form-control" formControlName="Fathername" placeholder="name">
                                                    <div *ngIf="studentdetails.controls.Fathername.errors">
                                                        <span *ngIf="studentdetails.controls.Fathername.invalid && studentdetails.controls.Fathername.touched ">please Enter Fathername</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- email id  -->
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="email" class="form-control" formControlName="mailId" placeholder="Enter-email">
                                            <div *ngIf="studentdetails.controls.mailId.errors">
                                                <span *ngIf="studentdetails.controls.mailId.invalid && studentdetails.controls.mailId.touched ">please Enter mailId</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- date of birth  -->
                                                <div class="form-group">
                                                    <label>date of birth:</label>
                                                    <input type="date" class="form-control" formControlName="DOF" placeholder="date of birth">
                                                    <div *ngIf="studentdetails.controls.DOF.errors">
                                                        <span *ngIf="studentdetails.controls.DOF.invalid && studentdetails.controls.DOF.touched ">please Enter date of birth</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <!-- Roll Number  -->
                                                <div class="form-group">
                                                    <label>RollNo:</label>
                                                    <input type="number" class="form-control" formControlName="RollNo" placeholder="Enter-RollNo">
                                                    <div *ngIf="studentdetails.controls.RollNo.errors">
                                                        <span *ngIf="studentdetails.controls.RollNo.invalid && studentdetails.controls.RollNo.touched ">please Enter RollNo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- Rank  -->
                                                <div class="form-group">
                                                    <label>Rank:</label>
                                                    <select class="form-control" formControlName="Rank">
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>
                                                        <option value="D">D</option>
                                                        <option value="F">F</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- department  -->
                                                <div class="form-group">
                                                    <label>Departent:</label>
                                                    <select class="form-control" formControlName="Departent">
                                                        <option value="Mech">Mech</option>
                                                        <option value="ECE">ECE</option>
                                                        <option value="EEE">EEE</option>
                                                        <option value="CSC">CSC</option>
                                                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- save cancel button  -->
                                        <div class="row justify-content-around">
                                            <div class="col-sm-3">
                                                <button type="submit" [disabled]="studentdetails.invalid" class="btn btn-success"><i class="glyphicon glyphicon-remove"></i> Save</button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <input type="text" (input)="print($event)" value="s" id="myInput" placeholder="Search for StudentNames..">
        </div>
    </div>

    <!-- table-responsive  -->
    <div class="row">
        <div class="table-responsive">
            <table id="myTable" class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col" class="p-3"> Name <i class="fa fa-sort" (click)="pagesort()" style="font-size:30px; position: relative; top: 5px; cursor: pointer;"></i></th>
                        <th scope="col">MailId </th>
                        <th scope="col">RollNo
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of studentlist;index as i;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{x.studentname}}</td>
                        <td>{{x.mailId}}</td>
                        <td>{{x.RollNo}}</td>
                        <td>
                            <div class="dropdown">
                                <span data-toggle="dropdown"><h5 class="menuicon">ooo</h5></span>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" (click)="studentedit(x)">EDIT STUDENT</a>
                                    <a class="dropdown-item" (click)="studentview(x)">VIEW STUDENT</a>
                                    <a class="dropdown-item" (click)="studentByIdDelet(x._id)">DELET STUDENT</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- pagination  -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" (click)="pagination(0)">Previous</a></li>
                    <li class="page-item"><a class="page-link" (click)="pagination(2)">1</a></li>
                    <li class="page-item"><a class="page-link" (click)="pagination(4)">2</a></li>
                    <li class="page-item"><a class="page-link" (click)="pagination(6)">3</a></li>
                    <li class="page-item"><a class="page-link" (click)="pagination(8)">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>