<div class="container-fluid">
    <div class="resetform">
        <h2>Forgot-Password-Form</h2>
        <form [formGroup]="resetform" (ngSubmit)="savedata(resetform.value)">
            <!-- NewPassword  -->
            <div class="form-group">
                <label for="NewPassword">NewPassword:</label>
                <input type="NewPassword" class="form-control" formControlName="Newpassword" placeholder="Enter-NewPassword">
            </div>
            <div *ngIf="resetform.controls.Newpassword.errors">
                <span *ngIf="resetform.controls.Newpassword.errors.minlength"> Length 6 latter</span>
            </div>
            <!-- CfmPassword -->
            <div class="form-group">
                <label for="Cfmpassword">Cfmpassword:</label>
                <input type="Cfmpassword" class="form-control" formControlName="Cfmpassword" placeholder="Enter-Cfmpassword">
            </div>
            <div *ngIf="resetform.controls.Cfmpassword.errors">
                <span *ngIf="resetform.controls.Cfmpassword.errors.minlength"> Length 6 latter</span>
            </div>
            <button type="submit" [disabled]="resetform.invalid" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>